body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(
        rgba(30, 60, 175, 0.8), /* Azul bandera */
        rgba(255, 223, 0, 0.7) /* Amarillo bandera */
    ),
    url("img/selva.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.logo {
    height: 100px;
    margin-top: 20px;
}

.text-description {
    letter-spacing: 2px;
    font-family: sans-serif;    
}

.form-control {
    background: transparent !important;
    color: #fff !important;
}

a .fab {
    color: #ffc;
    font-size: 30px;
    margin: 0 10px;
}